.about {
    background: var(--primary1);
    padding: 100px 0 140px 0;
    position: relative;
}

.about::after {
    content: '';
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-left: 100vw solid transparent;
    border-bottom: 3vw solid #1A1A5E;
}

.about-text h2 {
    font-size: var(--size72);
    max-width: 300px;
    color: var(--primary3);
}

.about-text p {
    line-height: var(--lineHeight18);
    color: var(--base2);
    max-width: 600px;
    margin: 30px 0 40px 0;
}

.about-img {
    position: absolute;
    right: 0;
}