.header {
    display: block;
    background-color: var(--primary4);
}

.header.expand {
    background-image: url(../Assets/pattern.svg);
    height: 790px;
    position: relative;
}

.header.expand::after {
    content: '';
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-left: 100vw solid transparent;
    border-bottom: 3vw solid var(--primary3);
}

.header .header-top {
    padding: 25px 60px;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li + li {
    margin-left: 40px;
}