.header {
    display: block;
    background-color: var(--primary4);
    position: fixed;
    width: 100%;
    z-index: 2000;
    box-shadow: 0px 0px 15px var(--base2);
}

.menu-mobile {
    display: none;
    background: transparent;
    border: none;
}

.menu-mobile img {
    width: 30px;
}

.header .header-top {
    padding: 25px 60px;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li + li {
    margin-left: 40px;
}

.logged {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.username-header {
    letter-spacing: 1px;
    color: var(--base1);
    font-size: var(--size12);
    background: var(--primary3);
    position: absolute;
    top: -15px;
    padding: 5px 10px;
    border-radius: 15px;
}

@media (max-width: 1152px) {
    .menu ul {
        position: absolute;
        right: 40px;
        flex-direction: column;
        align-items: flex-start;
        background: var(--primary4);
        padding: 40px;
        border-radius: 20px;
    }
    .menu ul li + li {
        margin-left: 0px;
        margin-top: 40px;
    }
    .menu ul li:last-child {
        margin-top: 50px;
    }
}

@media (max-width: 345px) {
    .menu ul li:last-child {
        margin-top: 40px;
    }
    .menu ul li .cta {
        display: flex;
    }
}