.header {
    display: block;
    background-color: var(--primary4);
}

.header.expand {
    background-image: url(../Assets/pattern.svg);
    height: 790px;
    position: relative;
}

.header.expand::after {
    content: '';
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-left: 100vw solid transparent;
    border-bottom: 3vw solid var(--primary3);
}

.header .header-top {
    padding: 25px 60px;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li + li {
    margin-left: 40px;
}

.logged {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.username-header {
    letter-spacing: 1px;
    color: var(--base1);
    font-size: var(--size12);
    background: var(--primary3);
    position: absolute;
    top: -15px;
    padding: 5px 10px;
    border-radius: 15px;

}