.benefits {
    background: var(--primary3);
    padding: 140px 0 150px 0;
}

.benefits-itens {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.benefits-itens li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-itens li img {
    box-shadow: 0px 0px 20px #FFFFFF;
    border-radius: 100%;
    border: 4px solid var(--base1);
}

.benefits-itens li span {
    margin-top: 20px;
    color: var(--base1);
}

.benefits-itens li + li {
    margin-left: 80px;
}