/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Geral */

* {
    box-sizing: border-box;
}

body {
	font-family: var(--fontMain);
	font-weight: 700;
	font-size: var(--size18);
}

a, p, h1 {
	color: var(--base1);
}

img {
    display: block;
    max-width: 100%;
}

.container {
    display: flex;
	justify-content: space-between;
	align-items: center;
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;
}

:root {
	--primary1: #B8F8FF;
	--primary2: #7DEDFF;
	--primary3: #00C1F0;
	--primary4: #00003A;
	--base1: #fff;
	--base2: #000;
	--error: #f56c6c;
	--fontMain: 'Montserrat', sans-serif;
	--fontDisplay: 'Six Caps', sans-serif;
	--size10: 0.625rem;
	--size12: 0.75rem;
	--size16: 1rem;
	--size18: 1.125rem;
	--size48: 3rem;
	--size72: 4.5rem;
	--lineHeight18: 27px;
	--lineHeight10: 15px;
}

a {
	text-decoration: none;
}

.btn, .cta {
	border: none;
	color: var(--primary3);
	background: var(--base1);
	padding: 15px 60px;
	border-radius: 15px;
}

.cta {
	color: var(--base1);
	background: var(--primary3);
}

.cta:hover, .cta:focus {
  outline: none;
  transition: .2s;
  box-shadow: 0px 0px 25px #00C1F0;
  cursor: pointer;
}

.error {
  color: var(--error);
  margin-top: -30px;
  margin-bottom: 40px;
  font-size: var(--size12);
}

.animeRight {
	opacity: 0;
	transform: translateX(20px);
	animation: anime 0.6s forwards;
}

.animeLeft {
	opacity: 0;
	transform: translateX(-20px);
	animation: anime 0.6s forwards;
}

@keyframes anime {
	to {
		opacity: 1;
		transform: initial;
	}
}